@model IEnumerable<Consommitounsi.Models.Reclamation>

@{
    ViewBag.Title = "Reclamation";
}

<h2>events</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div>
                    Search by name: @Html.TextBox("searchString")
                </div>
            </td>
            <td>
                <input type="submit" value="Search" id="submit" />
            </td>
        </tr>
    </table>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.reclamationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>


    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.reclamationId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.subject)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.description)
    </td>
    @* <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id_e }) |
            |
            @Html.ActionLink("Details", "Details", new { id = item.id_e })

        </td>*@
<td>
    @Html.ActionLink("Delete", "Delete", new { id = item.reclamationId })
</td>
</tr>
    }

</table>